<div [ngClass]="{redirect: dotLoader}" class="container my-5 py-5 z-depth-1">

  <div *ngIf="dotLoader" 
    id="dot-loader"
    class="row d-flex justify-content-center">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
  </div>

    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center dark-grey-text">

      <!--Grid row-->
      <div class="row d-flex justify-content-center">

        <!--Grid column-->
        <div class="col-xl-6 col-md-8">

          <div class="aws mask rgba-white-light">
            <img src="assets/images/awslogo.PNG" class="img-fluid" alt="">
          </div>  

                <p class="text-muted">Upload the images you wish to compare faces with</p>

                <div class="md-form mb-5">
                  <input mdbInput id="name" [(ngModel)]="name" (keyup.enter)="uploadFiles()" 
                  class="form-control" type="text">
                  <label for="name">Name</label>
                </div>           

                <div class="zone d-flex justify-content-center">
                  <div class="dropZ">                                    
                    <div class="selectFile"> 
                    <p>Select File</p>         
                      <label class="l waves-light fas fa-file-upload fa-3x orange-text">
                        <input mdbInput class="btn btn-md ml-0 mb-5" type="file" 
                        (change)="fileChange($event.target.files)">
                      </label>                                    
                      <p>File size limit : 10 MB</p>
                    </div>            
                  </div>         
                </div>

                <a class="btn waves-light" id="btn"
                [@animator]="button" (@animator.done)="btnAnimate('stop')"
                (click)="uploadFiles(); btnAnimate('start')" role="button">Upload</a>

                <div *ngIf="isSpinning" class="spinner-border text-danger" role="status"></div>

                  <h5 *ngIf="results" class="success" [@animator]="bouncer">{{results}}</h5> 
                   <h5 *ngIf="message" class="invalid" [@animator]="shaker">{{message}}</h5> 
                   <h5 *ngIf="alert" class="invalid" [@animator]="shaker">{{alert}}</h5> 
                   <table *ngIf="image" mdbTable class="view display overlay z-depth-1-half" 
                   [@animator]="zoomIn" aria-describedby="uploaded">
                    <thead>
                      <tr>
                        <th id="display" class="success">{{display | titlecase}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th id="image"><img [src]="image" class="img-fluid" alt=""></th>
                      </tr>             
                    </tbody>
                  </table>                                     

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


      <!--Grid row-->
      <div class="row">

        <!--Second column-->
        <div class="col-lg-4 col-md-6">
            <em class="fas fa-chart-area fa-3x deep-purple-text"
            [@animator]="chart" (@animator.done)="chartAnimate('stop')"
            (mouseover)="chartAnimate('start')"></em>

            <p class="font-weight-bold my-3">Microservices</p>
  
            <p class="text-muted">Using Spring Boot and .NET Core</p>
        </div>
        <!--/Second column-->

        <!--Third column-->
        <div class="col-lg-4 col-md-6">
            <em class="fas fa-cogs fa-3x red-text"
            [@animator]="cog" (@animator.done)="cogAnimate('stop')"
            (mouseover)="cogAnimate('start')"></em>

            <p class="font-weight-bold my-3">Upload</p>
  
            <p class="text-muted">Upload images to a cloud storage bucket</p>
        </div>
        <!--/Third column-->

        <!--Fourth column-->
        <div class="col-lg-4 col-md-6">
            <em class="fas fa-cloud-upload-alt fa-3x teal-text"
            [@animator]="cloud" (@animator.done)="cloudAnimate('stop')"
            (mouseover)="cloudAnimate('start')"></em>

            <p class="font-weight-bold my-3">Cloud</p>
  
            <p class="text-muted">Images are saved to the cloud storage bucket</p>
        </div>
        <!--/Fourth column-->

      </div>
      <!--/Grid row-->


    </section>
    <!--Section: Content-->


  </div>