body{
    background: linear-gradient(to bottom, #fff8e1, #ece5ce);
}
div{
    font-family: 'Liu Jian Mao Cao', cursive;
    position: relative;
}

section{
    font-family: 'Liu Jian Mao Cao', cursive;
    position: relative;
}