<div class="container my-5 py-5 z-depth-1">


    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center dark-grey-text">

      <!--Grid row-->
      <div class="row d-flex justify-content-center">

        <!--Grid column-->
        <div class="col-xl-6 col-md-8">

          <h3 class="font-weight-bold">AWS Rekognition</h3>

          <p class="text-muted">Compare faces and review the results</p>
          <p>1st Image: <input [(ngModel)]="img1" class="btn-md ml-0 mb-5" type="text"><br>
            2nd Image: <input [(ngModel)]="img2" class="btn-md ml-0 mb-5" type="text"></p>
          <a class="btn btn-info btn-md ml-0 mb-5" (click)="compareFaces()" role="button">Compare</a>

          <h5 *ngIf="faces.results > 70" class="success">{{faces.results | number:'2.1-2'}}% similarity</h5> 
          <h5 *ngIf="faces.results < 70" class="success">Less than 70% similarity</h5>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


      <!--Grid row-->
      <div class="row">

        <!--First column-->
        <div class="col-lg-3 col-md-6">
          <i class="fas fa-gem fa-3x blue-text"></i>
 
          <p class="font-weight-bold my-3">Feature One</p>

          <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <!--/First column-->

        <!--Second column-->
        <div class="col-lg-3 col-md-6">
            <i class="fas fa-chart-area fa-3x teal-text"></i>

            <p class="font-weight-bold my-3">Feature Two</p>
  
            <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <!--/Second column-->

        <!--Third column-->
        <div class="col-lg-3 col-md-6">
            <i class="fas fa-cogs fa-3x indigo-text"></i>

            <p class="font-weight-bold my-3">Feature Three</p>
  
            <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <!--/Third column-->

        <!--Fourth column-->
        <div class="col-lg-3 col-md-6">
            <i class="fas fa-cloud-upload-alt fa-3x deep-purple-text"></i>

            <p class="font-weight-bold my-3">Feature Four</p>
  
            <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <!--/Fourth column-->

      </div>
      <!--/Grid row-->


    </section>
    <!--Section: Content-->


  </div>