<div class="container my-5 py-5 z-depth-1">


    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center dark-grey-text">

      <!--Grid row-->
      <div class="row d-flex justify-content-center">

        <!--Grid column-->
        <div class="col-xl-6 col-md-8">

          <h3 class="font-weight-bold">AWS Rekognition</h3>

          <p class="text-muted">Compare faces and review the results</p>
          <p>1st Image: <input [(ngModel)]="img1" class="btn-md ml-0 mb-5" (keyup.enter)="compareFaces()" type="text"><br>
            2nd Image: <input [(ngModel)]="img2" class="btn-md ml-0 mb-5" (keyup.enter)="compareFaces()" type="text"><br>
          <a class="btn btn-info btn-md ml-0 mb-5" 
          [@animator]="button" (@animator.done)="btnAnimate('stop')" 
          (click)="compareFaces(); btnAnimate('start')" role="button">Compare
          </a></p>

          <div *ngIf="isSpinning" class="spinner-border text-danger" role="status"></div>

          <div *ngIf="results > 1">
            <h5 *ngIf="results > 70" class="success" [@animator]="bouncer">{{results | number:'2.1-2'}}% similarity</h5> 
            <h5 *ngIf="results < 70" class="invalid" [@animator]="shaker">Less than 70% similarity</h5>
          </div>      

          <h5 *ngIf="message" class="invalid" [@animator]="shaker">{{message}}</h5>

          <div *ngIf="details.length > 0" [@animator]="zoomIn">
            <table mdbTable class="view display overlay z-depth-1-half">
              <thead>
                <tr>
                  <th *ngFor="let detail of details" class="success">{{detail | titlecase}}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th *ngFor="let image of images"><img [src]="image" class="img-fluid"></th>
                </tr>             
              </tbody>
            </table>
          </div>
          
          
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


      <!--Grid row-->
      <div class="row">       

        <!--Second column-->
        <div class="col-lg-4 col-md-6">
            <i class="fas fa-chart-area fa-3x green-text"
            [@animator]="chart" (@animator.done)="chartAnimate('stop')" 
            (mouseover)="chartAnimate('start')"></i>

            <p class="font-weight-bold my-3">Microservices</p>
  
            <p class="text-muted">Using Spring Boot and .NET Core</p>
        </div>
        <!--/Second column-->

        <!--Third column-->
        <div class="col-lg-4 col-md-6">
            <i class="fas fa-cogs fa-3x grey-text"
            [@animator]="cog" (@animator.done)="cogAnimate('stop')" 
            (mouseover)="cogAnimate('start')"></i>

            <p class="font-weight-bold my-3">Rekognition</p>
  
            <p class="text-muted">Results are processed and displayed</p>
        </div>
        <!--/Third column-->

        <!--Fourth column-->
        <div class="col-lg-4 col-md-6">
            <i class="fas fa-cloud-upload-alt fa-3x blue-text"
            [@animator]="cloud" (@animator.done)="cloudAnimate('stop')" 
            (mouseover)="cloudAnimate('start')"></i>

            <p class="font-weight-bold my-3">Cloud</p>
  
            <p class="text-muted">Compare images from a cloud storage bucket</p>
        </div>
        <!--/Fourth column-->

      </div>
      <!--/Grid row-->


    </section>
    <!--Section: Content-->


  </div>